<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-500">
    <div
      class="container w-[80%] md:w-md mx-auto p-4 rounded border mt-5 bg-black text-white justify-center items-center shadow shadow-blue-500"
    >
      <h1 class="text-3xl text-center font-bold mb-4 text-blue-500">
        Send Email
      </h1>
      <form action="/send-email" method="POST" class="flex flex-col gap-4">
        <fieldset class="relative">
          <label for="recipient" class="absolute top-2 left-2"
            >Recipient:</label
          >
          <input
            type="email"
            name="recipient"
            id="recipient"
            required
            class="border rounded p-2 pl-20 text-center text-xl w-full font-semibold"
          /><br />
        </fieldset>

        <fieldset class="relative">
          <label for="subject" class="absolute top-2 left-2">Subject:</label>
          <input
            type="text"
            name="subject"
            id="subject"
            required
            class="border rounded p-2 text-center text-xl w-full font-semibold pl-20"
          /><br />
        </fieldset>

        <fieldset>
          <label for="message" class="pl-2">Message:</label><br />
          <textarea
            name="message"
            id="message"
            rows="5"
            cols="50"
            required
            class="border rounded p-2 text-xl w-full font-semibold"
          ></textarea>
        </fieldset>

        <button
          type="submit"
          class="rounded p-2 bg-gray-500 hover:bg-gray-800 ring-2 ring-blue-500 w-max mx-auto"
        >
          Send Email
        </button>
      </form>
    </div>
  </body>
</html>
